name: Bootstrap Terraform Backend

on:
  workflow_dispatch:

jobs:
  bootstrap:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform/bootstrap

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Create S3 bucket
        run: |
          bash aws-s3-dynamodb-backend.sh